<h1>Post a new Questions</h1>
    <form class="" action="/questions" method="post">
      <div>
        <input type="text" name="question[title]" placeholder="Question">
      </div>
      <textarea name="question[content]" rows="8" cols="80"></textarea>
      <input type="submit" name="Submit">
    </form>
