<div class="container">
  <form action="/login" method="post">
    <h3>Sign In Below:</h3>
    <input type="text" name="email" placeholder="email"><br><br>
    <input type="password" name="password" placeholder="password"><br><br>
    <input type="submit"  value="Login">
  </form>
</div>
