<form class="" action="index.html" method="post">
  <input type="hidden" name="user_id" value="<%= current_user.id%>">
  <input type="hidden" name="question_id" value="<%=  %>">
  <input type="text" name="content" placeholder="Make a comment here">
  <input class="button-primary" type="submit" value="Comment">
</form>
